version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/apps/api"
    schedule:
      interval: "weekly"
  - package-ecosystem: "pip"
    directory: "/apps/telegram-bot"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/apps/ui"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
